.rti--container * {
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.rti--container {
    --rti-bg: #fff;
    --rti-border: #ccc;
    --rti-main: red !important;
    --rti-radius: 0.5rem !important;
    --rti-s: 0.5rem !important;
    --rti-tag: #edf2f7;
    --rti-tag-remove: #e53e3e;
    --rti-tag-padding: 0.1rem 0.1rem !important;

    /* Container Styles */
    align-items: center;
    background: var(--rti-bg);
    /* border: 1px solid var(--rti-border); */
    border-radius: var(--rti-radius);
    display: flex;
    flex-wrap: wrap;
    gap: var(--rti-s);
    line-height: 1.4;
    padding-top: 1.25% !important;
    padding-bottom: 1.25% !important;
    padding: var(--rti-s);
}

.rti--container:focus-within {
    outline: 0 !important;
    /* border-color: var(--rti-main); */
    border-color: red !important;
    box-shadow: var(--rti-main) 0px 0px 0px 1px;
}

.rti--input {
    border: 0 !important;
    /* border: 0% !important; */
    outline: 0 !important;
    font-size: inherit;
    line-height: inherit;
    width: 50% !important;
}

.rti--tag {
    align-items: center;
    background: red !important;
    color: white !important;
    /* background: var(--rti-tag); */
    border-radius: var(--rti-radius);
    display: inline-flex;
    justify-content: center;
    padding-left: 10px !important;
    /* padding: var(--rti-tag-padding); */
}

.rti--tag:hover {
    background-color: black !important;
}

.rti--tag button {
    background: none;
    border: 0;
    border-radius: 10% !important;
    cursor: pointer;
    line-height: inherit;
    padding: 0 var(--rti-s);
}

.rti--tag button:hover {
    color: var(--rti-tag-remove) !important;
    /* color: aqua !important; */
}